@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Open+Sans&display=swap');



/* Usar variables CSS para colores y fuentes repetidos */
:root {
    --primary-color: #ffd700;
    --bg-dark: rgba(0, 0, 0, 0.7);
    --font-title: 'Cinzel', serif;
    --font-body: 'Open Sans', sans-serif;
    --t-shadow: rgba(242, 255, 0, 0.973);
}

body {
    font-family: var(--font-body);
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    color: #f4f4f4;
    font-size: 16px;
}

.hero {
    background-image: url('/static/images/thor-hammer-bg.jpg');
    background-size: cover;
    background-position: center;
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem 1rem;
}

h1, h2, h3 {
    font-family: var(--font-title);
    text-transform: uppercase;
}

.hero h1, .subtitle, .login-container h1 {
    color: #ffffff;
    text-shadow: 2px 2px 4px var(--t-shadow);
    background-color: var(--bg-dark);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    padding: 10px;
}

.subtitle {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.cta, .info-content, .login-container, .member-area-container, .admin-area-container {
    background-image: url('/static/images/throne-liberty-bg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem 1rem;
}

.info-content {
    padding: 4rem 2rem;
}

.info-list {
    max-width: 800px;
    margin: 0 auto;
    background-color: rgba(51, 51, 51, 0.8);
    border-radius: 10px;
    padding: 2rem;
}

.btn {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    margin: 0.5rem 0;
    width: 100%;
    max-width: 300px;
    font-family: var(--font-title);
    font-size: 1.1rem;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.btn-primary {
    background-color: var(--primary-color);
    color: #1a1a1a;
}

.btn-secondary {
    background-color: transparent;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px var(--bg-dark);
}

.info-item {
    background-color: var(--bg-dark);
    border-radius: 10px;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
}

.info-item h3 {
    color: var(--primary-color);
    margin-bottom: 0.5rem;
}

.info-item p {
    margin: 0;
}

.login-container, .member-area-container, .admin-area-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.login-container h1 {
    font-size: 3rem;
    color: #ffffff;
    text-shadow: 2px 2px 4px var(--t-shadow);
    padding: 10px;
    background-color: var(--bg-dark);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    margin-bottom: 2rem;
    display: inline-block; /* Añadir esta línea */
    max-width: 90%; /* Añadir esta línea */
}

.login-form {
    background-color: var(--bg-dark);
    padding: 2rem;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 300px;
}

.login-form input {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}

.error-message {
    color: #ff4136;
    text-align: center;
    margin-top: 1rem;
    background-color: var(--bg-dark);
    border: 2px solid #ff4136;
    border-radius: 5px;
    padding: 10px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.member-area-content {
    background-color: var(--bg-dark);
    padding: 2rem;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    width: 90%;
    max-width: 600px;
    text-align: center;
}

.member-area-content h1 {
    font-size: 2.5rem;
    color: #ffffff;
    text-shadow: 2px 2px 4px var(--t-shadow);
    margin-bottom: 1.5rem;
}

.member-area-content p {
    color: #ffffff;
    margin-bottom: 1rem;
}

/* Media queries para ajustes específicos */
@media (min-width: 768px) {
    .hero h1 { font-size: 3.5rem; }
    .subtitle { font-size: 1.5rem; }
    .cta {
        flex-direction: row;
        justify-content: center;
    }
    .btn {
        width: auto;
        margin: 0 1rem;
    }
}

@media (max-width: 767px) {
    .login-container h1 { font-size: 2rem; }
}

.admin-area-container {
    background-image: url('/static/images/throne-liberty-bg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.admin-area-content {
    background-color: var(--bg-dark);
    padding: 2rem;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    width: 90%;
    max-width: 600px;
    text-align: center;
}

.admin-area-content h1 {
    font-size: 2.5rem;
    color: #ffffff;
    text-shadow: 2px 2px 4px var(--t-shadow);
    margin-bottom: 1.5rem;
}

.admin-area-content p {
    color: #ffffff;
    margin-bottom: 1rem;
}

.admin-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.admin-buttons .btn {
    margin: 0.5rem 0;
    width: 100%;
    max-width: 200px;
}

@media (min-width: 768px) {
    .admin-buttons {
        flex-direction: row;
        justify-content: center;
    }

    .admin-buttons .btn {
        margin: 0 1rem;
    }
}

