{% extends "base.html" %}

{% block content %}
<div class="member-area-container">
    <div class="member-area-content">
        <h1>Bienvenido, {{ user.full_name }}!</h1>
        <p>Esta es el área exclusiva para miembros del clan Martillo de Thor.</p>
        <p>Tu nombre de usuario es: {{ user.username }}</p>
        <p>Tu correo electrónico es: {{ user.email }}</p>
        <p>Tu rol es: {{ user.role }}</p>
        <a href="{{ url_for('logout') }}" class="btn btn-secondary">Cerrar sesión</a>
    </div>
</div>
{% endblock %}
