<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clan Martillo de Thor - Throne & Liberty</title>
    <link rel="stylesheet" href="/static/css/styles.css?v=1.0">
    
    <!-- Favicon y enlaces relacionados -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon/site.webmanifest">
    <link rel="shortcut icon" href="/static/favicon/favicon.ico">
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>
