{% extends "base.html" %}

{% block content %}
<div class="hero">
    <h1>Clan Martillo de Thor  v.T&L</h1>
    <p class="subtitle">Tu destino en Throne & Liberty</p>
</div>

<div class="info-content">
    <div class="info-list">
        {% for key, value in info.items() %}
        <div class="info-item">
            <h3>{{ key|capitalize }}</h3>
            <p>{{ value }}</p>
        </div>
        {% endfor %}
    </div>
</div>

<div class="cta">
    <a href="{{ url_for('info_publica') }}" class="btn btn-primary">Más información</a>
    <a href="{{ url_for('login_page') }}" class="btn btn-primary">Área de miembros</a>
</div>
{% endblock %}
